* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: system-ui, sans-serif;
    color: #eee;
}

body {
    min-height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    overflow: hidden;

    background-image: url('/Good/imagen5.jpg');
    background-repeat: no-repeat;
    background-size: 110% 110%; /* clave: imagen más ancha para que pueda moverse */    
    background-position: 0% 50%;
    animation: gradientBG 15s linear infinite;
}

@keyframes gradientBG {
    0% { background-position: 0% 50%; }
    50% { background-position: 100% 50%; }
    100% { background-position: 0% 50%; }
   
}


.glass-container {
    background: rgba(255, 255, 255, 0.1);
    padding: 2rem;
    border-radius: 10px;
    backdrop-filter: blur(10px);
    z-index: -1;
}
