<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/Good/static/css/style.css">
    <title>Contacto</title>
</head>
<body class="contacto-page">  
    <header>
        <nav>
            <a href="index.html" class="nav-link-active">Home</a>
            <a href="test.html" class="nav-link-active">Realizar Test</a>
            <a href="recursos.html" class="nav-link-active">Recursos</a>
            <a href="nosotros.html" class="nav-link-active">Sobre Nosotros</a>
            <a href="/Good/Propuesta/contacto.html" class="nav-link-active">Contacto</a>
        </nav>
    </header> 
    <main>
        <div class="glass-container">
            <h2>Contacto</h2>
            <form>
                <div class="input-group">
                    <input type="text" required>
                    <label>Nombre</label>
                </div>
                <div class="input-group">
                    <input type="text" required>
                    <label>Correo</label>
                </div>
            </form>
        </div>
    </main>
</body>
</html>