<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>MindCheck</title>
    <link rel="stylesheet" href="/Good/static/css/style.css">
</head>
<body>
    <header>
        <nav>
            <a href="index.html" class="nav-link-active">Home</a>
            <a href="test.html" class="nav-link-active">Realizar Test</a>
            <a href="recursos.html" class="nav-link-active">Recursos</a>
            <a href="nosotros.html" class="nav-link-active">Sobre Nosotros</a>
            <a href="contacto.html" class="nav-link-active">Contacto</a>
        </nav>
    </header>

    <!-- carousel -->
    <div class="carousel">
        <!-- list item -->
        <div class="list">
            <div class="item">
                <img src="/Good/static/img/imagen1.jpg">
                <div class="content">
                    <div class="author">MindCheck</div>
                    <div class="title">Frases que inspiran</div>
                    <div class="topic">Desconocido</div>
                    <div class="des">                        
                        Buscar ayuda no es un signo de debilidad, sino de valentía.
                    </div>                    
                    <div class="buttons">
                        <button>Contacto</button>
                        <button>Admin</button>
                    </div>
                </div>
            </div>
            <div class="item">
                <img src="/Good/static/img/imagen2.jpg">
                <div class="content">
                    <div class="author">Desconocido</div>
                    <div class="title">Frases que Inspiran</div>
                    <div class="topic">MindCheck</div>
                    <div class="des">
                        "No tienes que tenerlo todo resuelto hoy. Respira, estás haciendo lo mejor que puedes."
                    </div>
                    <div class="buttons">
                        <button>Contacto</button>
                        <button>Admin</button>
                    </div>
                </div>
            </div>
            <div class="item">
                <img src="/Good/static/img/imagen3.jpg">
                <div class="content">
                    <div class="author">Anónimo</div>
                    <div class="title">Frases que Inspiran</div>
                    <div class="topic">MindCheck</div>
                    <div class="des">
                        "Está bien no estar bien todo el tiempo."
                    </div>
                    <div class="buttons">
                        <button>Contacto</button>
                        <button>Admin</button>
                    </div>
                </div>
            </div>
            <div class="item">
                <img src="/Good/static/img/imagen4.jpg">
                <div class="content">
                    <div class="author">MindCheck</div>
                    <div class="title">Frases que Inspiran</div>
                    <div class="topic">MindCheck</div>
                    <div class="des">
                        "Tu bienestar importa. Un paso a la vez."
                    </div>
                    <div class="buttons">
                        <button>Contacto</button>
                        <button>Admin</button>
                    </div>
                </div>
            </div>
        </div>
        <!-- list thumbnail -->
        <div class="thumbnail">
            <div class="item">
                <img src="/Good/static/img/imagen1.jpg">
                <div class="content">
                    <div class="title">
                        Name Slider
                    </div>
                    <div class="description">
                        Description
                    </div>
                </div>
            </div>
            <div class="item">
                <img src="/Good/static/img/imagen2.jpg">
                <div class="content">
                    <div class="title">
                        Name Slider
                    </div>
                    <div class="description">
                        Description
                    </div>
                </div>
            </div>
            <div class="item">
                <img src="/Good/static/img/imagen3.jpg">
                <div class="content">
                    <div class="title">
                        Name Slider
                    </div>
                    <div class="description">
                        Description
                    </div>
                </div>
            </div>
            <div class="item">
                <img src="/Good/static/img/imagen4.jpg">
                <div class="content">
                    <div class="title">
                        Name Slider
                    </div>
                    <div class="description">
                        Description
                    </div>
                </div>
            </div>
        </div>
        <!-- next prev -->

        <div class="arrows">
            <button id="prev"><</button>
            <button id="next">></button>
        </div>
        <!-- time running -->
         <!--
        <div class="time"></div>-->
    </div>
    <script src="app.js"></script>
</body>
</html>