<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/Good/static/css/style.css">    
    <title>Nosotros</title>
</head>

<body> 
<header>
        <nav>
            <a href="index.html" class="nav-link-active">Home</a>
            <a href="test.html" class="nav-link-active">Realizar Test</a>
            <a href="recursos.html" class="nav-link-active">Recursos</a>
            <a href="nosotros.html" class="nav-link-active">Sobre Nosotros</a>
            <a href="contacto.html" class="nav-link-active">Contacto</a>
        </nav>
    </header>
    <main>
        <div class="nosotros">
            <div class="container">            
                <h1 class="title">
                    Sobre <br>MindCheck
                </h1>            
                <div class="text">
                    <mark class="brand">MindCheck</mark> es una plataforma gratuita, confidencial y accesible para ayudar a las personas a conocer su estado emocional.
                    <br><br>
                    Nuestro objetivo es reducir el estigma alrededor de la salud mental y acercar herramientas confiables a quienes no pueden acceder fácilmente a servicios psicológicos.
                    <br><br>
                    <mark class="brand">MindCheck</mark> no reemplaza el diagnóstico profesional. Sin embargo, puede ser una guía inicial valiosa para tomar decisiones de autocuidado.  
                    <br><br>
                    Esta aplicación utiliza el test GAD-7, validado clínicamente para detectar niveles de ansiedad. Basado en tus respuestas, recibirás recomendaciones reales y útiles, incluso líneas de apoyo disponibles en México.
                    Si sientes que necesitas ayuda, no estás solo/a. Buscar apoyo es un paso valiente y positivo.
                </div>    
            </div>        
        </div>
    </main>
    
</body>
</html>